<header class="d-flex justify-content-between top p-2">
  <%= link_to fa_icon('arrow-left'), groups_path, class: 'back-arrow' %>
  <h1 class="page-title">TRANSACTIONS</h1>
  <p></p>
</header>

<section class="d-flex border mb-1 p-5">
  <div class="groups-list-item ">
    <div class="">
      <img src="<%= @group.icon %>" alt="Category icon image">
    </div>
    
    <div class="col-5">
      <h2><%= @group.name %></h2>
      <p><%= @group.created_at.strftime("%d %h %Y") %></p>
    </div>

    <div>
      <% total = 0.00 %>
      <% @group.group_entities.each {|group_entity| total += group_entity.entity.amount} %>
      <span class="amount">$<%= total %></span>
    </div>
  </div>
</section>

<% if @group_entities.empty? %>
  <h2 class="splash-welcome">There are not transactions yet!</h2>
  <p class="splash-text">Create a transaction for this category by clicking on the button below.</p>
<% else %>
  <ul class="justify-content-between align-items border bg-light p-1">
    <% @group_entities.each do |group_entity| %>
      <li class="entities-list-item mt-3">
        <div class="entity-info">
          <h2><%= group_entity.entity.name %></h2>
          <p><%= @group.created_at.strftime("%d %h %Y")%> at <%= @group.created_at.strftime("%l.%M%P")%></p>
        </div>
        <div class="entity-amount">
          <span>Amount:</span>
          <span class="amount">$<%= group_entity.entity.amount %></span>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<div class="text-light footer d-flex justify-content-center p-3">
  <%= button_to 'New Transaction', new_entity_path, method: :get, class: 'button btn border border-dark p-2' %>
</div>

